# Contract files

# contracts/build/

# Bootstrapping files
bootstrapping/node_modules

# Some VS Code configs

.vscode/settings.json

# Webapp files

/webapp/node_modules
/webapp/coverage
/webapp/build
/webapp/.DS_Store
/webapp/.env.local
/webapp/.env.development.local
/webapp/.env.test.local
/webapp/.env.production.local
/webapp/npm-debug.log*
/webapp/yarn-debug.log*
/webapp/yarn-error.log*
/webapp/yarn.lock

# IDEA files
**/.idea

# yarn lock ignored when using npm build.
**/yarn.lock

