# Front-end files

/frontend/node_modules
/frontend/npm-debug*
/frontend/dist
/frontend/index.html
/frontend/.cache-loader
/frontend/.awcache
/frontend/deploy
/frontend/.idea/
/frontend/.vscode
/frontend/.cache-loader

# Contract files

contracts/build/

# Bootstrapping files
bootstrapping/node_modules

# Some VS Code configs

.vscode/settings.json

# Webapp files

/webapp/node_modules
/webapp/coverage
/webapp/build
/webapp/.DS_Store
/webapp/.env.local
/webapp/.env.development.local
/webapp/.env.test.local
/webapp/.env.production.local
/webapp/npm-debug.log*
/webapp/yarn-debug.log*
/webapp/yarn-error.log*
/webapp/yarn.lock
/webapp/.idea

