// global variables
// -------- Colors -----------
$primary-color: #1da57a;
$dark-color: #001529;
$gray-color: #888;
$border-light-color: #f8f8f8;

// *** font-size ***/
$font-size-base: 14px;
$font-size-lg: 16px;
$font-size-sm: 12px;


//$primary-color: #1890ff;                         // primary color for all components
//$link-color: #0778FE;                            // link color
//$success-color: #52c41a;                         // success state color
//$warning-color: #faad14;                         // warning state color
//$error-color: #f5222d;                           // error state color
//$font-size-base: 14px;                           // major text font size
//$heading-color: white;              // heading text color
//$text-color: white;                                // major text color
//$text-color-secondary : opacify(white, 0.5);      // secondary text color
//$disabled-color : rgba(0, 0, 0, .25);            // disable state color
//$border-radius-base: 4px;                        // major border radius
//$border-color-base: #d9d9d9;                     // major border color
//$box-shadow-base: 0 2px 8px rgba(0, 0, 0, .15);  // major shadow for layers


// Colors:
// #FFFFFF
// #FFFFFF 50%
// #333333
$darkbackground: #1A1F26;
$lightbackground: #313747;
// #0778FE
// #242A33
// #010713
// #19D590
// #FFFFFF 11%
// #20252B
// #EC605F
// #E1E6EF
// #F5F5F5
// #D8D8D8
